######################
# Azure Configuration 
######################

# Set your subscription_id
subscription_id = ""

# Set the region to which to deploy resources. The default region is westus2
# azure_region = ""

#######################
# User Configuration 
#######################

# Use this variable to set the domain for your CTF users. You can find this by logging into Azure, going to Users, and looking at the domain name associated with the User Principal Name of your user account. For example: @johndoe.onmicrosoft.com
domain = ""

#######################
# User IP Configuration 
#######################

# Specify your IP address here to bre used with security groups (so that "public" challenges are only accessible to you)
# If you don't specify anything, the default behavior is to use https://icanhazip.com to pull your IP address
# user_ip = "[YOUR_IP_ADDRESS]"

###########################
# Assume role Configuration 
###########################

# Nothing here

############################
# Enabled/Disabled Challenges
############################

# Low or No cost - Always on
# TBD

# This challenges incur noticeable cost. Enable when needed
# TBD

##  Bastion host related challenges           
##  The following challenges all need `bastion_enabled = true`

# TBD