# Ignore Terraform state files and backups
*.tfstate*
.terraform.tfstate.backup

# Ignore other unnecessary files or directories
.git
node_modules
*.md
LICENSE
.terraform
cloudfox-output
.infracost
response.json
.vscode
.DS_Store
*.zip
crash.log
.ctf
config
